<form method="post" action="{{ path('app_reservations_rentals_delete', {'id': reservations_rental.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservations_rental.id) }}">
    <button class="btn">Delete</button>
</form>
