{% extends 'base.html.twig' %}

{% block title %}New ReservationsRentals{% endblock %}

{% block body %}
    <div class="contentMargin">
        <h1>Create new ReservationsRentals</h1>

        {{ include('admin/reservations_rentals/_form.html.twig') }}

        <a href="{{ path('app_reservations_rentals_index') }}">back to list</a>
    </div>
{% endblock %}
