{% extends 'base.html.twig' %}

{% block title %}Changer le mot de passe{% endblock %}

{% block body %}
    <div class="contentMargin d-flex justify-content-center">
        <div class="d-flex flex-column bg-lightGreen p-3 rounded-4">
            <h4 class="text-center">Changer votre mot de passe</h4>
            {{ form_errors(form) }}
            {{ form_start(form) }}

            {{ form_row(form.plainPassword) }}

            <button type="submit" class="btn-yellow form-control">Enregistrer</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
