{% extends './base.html.twig' %}

{% block title %}Edit Rentals{% endblock %}

{% block body %}
    <h1>Edit Rentals</h1>

    {{ include('admin/rentals/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_rentals_index') }}">back to list</a>

    {{ include('admin/rentals/_delete_form.html.twig') }}
{% endblock %}
