{% extends 'base.html.twig' %}

{% block title %}New Rentals{% endblock %}

{% block body %}
    <div class="contentMargin">
        <h1>Create new Rentals</h1>

        {{ include('admin/rentals/_form.html.twig') }}

        <a href="{{ path('app_rentals_index') }}">back to list</a>
    </div>
{% endblock %}
