{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <div class="contentMargin d-flex flex-column align-items-center justify-content-center mb-5">
        <h1>Administration</h1>

        <p class="d-flex d-xl-none alert alert-danger">Vous ne pouvez pas utiliser l'administration sur téléphone/tablette !</p>

        {% include './admin/navbar/index.html.twig' %}

        <img src="{{ asset('styles/img/imageAccueil.jpg') }}" alt="image d'accueil" class="d-none d-xl-flex imageAdmin rounded-4 mt-5">
    </div>
{% endblock %}