{% extends './base.html.twig' %}

{% block title %}New PostImages{% endblock %}

{% block body %}
    <h1>Create new PostImages</h1>

    {{ include('post_images/_form.html.twig') }}

    <a href="{{ path('app_post_images_index') }}">back to list</a>
{% endblock %}
