{% extends 'base.html.twig' %}

{% block title %}PostImages{% endblock %}

{% block body %}
    <h1>PostImages</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post_image.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_post_images_index') }}">back to list</a>

    <a href="{{ path('app_post_images_edit', {'id': post_image.id}) }}">edit</a>

    {{ include('admin/post_images/_delete_form.html.twig') }}
{% endblock %}
