@font-face {
    font-family: 'Greek-Freak';
    src: url('fonts/Greek-Freak.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --myWhite: #F8F9FA;
    --myLightGrey: #717171;
    --myDarkGrey: #212529;
    --myLightGreen: #95C11F;
    --myDarkGreen: #006633;
    --myYellow: #F7D844;
    --myBlack: #212429;
    --myRed: #CE1104;
    --myOrange: #b5713a;
}

body{
    background-color: var(--myWhite);
    font-family: DM Sans;
    color: var(--myBlack);
}

.titleNav{
    font-family: Greek-Freak;
}

.contentMargin{
    padding-top: 150px;
}

nav a h2{
    font-size: 41.9px;
    color: var(--myWhite);
}

#imageFond{
    height: 100vh;
    width: 100vw;
    background: url('img/imageAccueil.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contentImage{
    border: 3px solid white;
    border-left: none;
    border-right: none;
    font-family: Greek-Freak;
    color: var(--myWhite);
    z-index: 1;
    text-align: center;
    padding: 75px;
}

.contentImage h1{
    font-size: 67.8px;
}

.contentImage p{
    font-size: 28px;
    font-family: "DM Sans";
    font-weight: lighter;
}

#imageFond::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 0;
}

h2{
    color: var(--myDarkGreen);
}

.fc-toolbar-title{
    font-family: "DM Sans";
    font-weight: bold;
    background: linear-gradient(to right, var(--myLightGrey), var(--myDarkGreen));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    display: inline-block;
}

.imageTop {
    height: 50%;
    width: 100%;
    position: relative;
}

.imageTop .rate {
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--myLightGrey);
    color: white;
    padding: 5px 10px;
    border-top-left-radius: 5px;
    font-weight: bold;
    height: 35px;
}

.rentalDiscount{
    height: 450px;
    -webkit-box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.5);
}

.carousel-item .card-body{
    position: relative;
    height: 50%;
}

.imageTop img{
    height: 30px;
}

.description{
    height: 30%;
    width: 100%;
    bottom: 0;
}

.titlePromotion {
    display: flex;
    align-items: center;
    gap: 10px;
}

.textPromotion{
    text-align: left;
}

.strike{
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

.pricePromotion{
    font-size: 30px;
    font-weight: bold;
}

.newPrice{
    color: var(--myDarkGreen);
}

.rentalDiscount {
    position: relative;
}

.carousel-item{
    transition: transform 0.6s ease-in-out;
}

#logementCarousel {
    width: 80%;
    margin: auto;
    position: relative;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 100;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.carousel-control-prev {
    left: -100px;
}

.carousel-control-next {
    right: -100px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 75px;
    height: 75px;
}

.carousel-control-prev-icon {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="%23F7D844" viewBox="0 0 24 24"%3E%3Cpolygon points="15,18 9,12 15,6" /%3E%3C/svg%3E');
}

.carousel-control-next-icon {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="%23F7D844" viewBox="0 0 24 24"%3E%3Cpolygon points="9,18 15,12 9,6" /%3E%3C/svg%3E');
}

.dropdown button, .dropdown button:hover, .dropdown .show{
    background: var(--myDarkGrey);
    color: var(--myWhite);
    border: none;
    border-radius: 0.75rem;
    text-decoration: none;
    padding: 0.75rem;
    font-weight: 500;
}

.dropdown button:active{
    filter: brightness(90%);
}

.dropdown img{
    height: 1rem;
    width: 1rem;
}

.smallImage{
    height: 20rem;
    width: 30rem;
    object-fit: cover;
}

.btn-green,
.btn-outline-green,
.btn-signup,
.btn-yellow,
.btn-outline-yellow,
.btn-outline-grey,
.btn-black,
.btn-lightGreen,
.btn-lightGreen2,
.btn-green-border,
.btn-red{
    border: none;
    border-radius: 0.75rem;
    text-decoration: none;
    padding: 0.75rem;
    font-weight: 500;
}

.btn-green{
    background-color: var(--myDarkGreen);
    color: var(--myWhite);
}
.btn-green:hover{
    background-color: color-mix(in srgb, var(--myWhite), black 10%);
    color: var(--myDarkGreen)
}
.btn-green:active{
    background-color: color-mix(in srgb, var(--myWhite), black 10%) !important;
    color: var(--myDarkGreen) !important;
}

.btn-green-border{
    border: 1px solid var(--myDarkGreen);
    background-color: var(--myDarkGreen);
    color: var(--myWhite);
}
.btn-green-border:hover{
    background-color: color-mix(in srgb, var(--myWhite), black 10%);
    color: var(--myDarkGreen)
}
.btn-green-border:active{
    background-color: color-mix(in srgb, var(--myWhite), black 10%) !important;
    color: var(--myDarkGreen) !important;
}

.btn-red{
    background-color: var(--myRed);
    color: var(--myWhite);
}
.btn-red:hover{
    background-color: color-mix(in srgb, var(--myWhite), black 10%);
    color: var(--myRed)
}
.btn-red:active{
    background-color: color-mix(in srgb, var(--myWhite), black 10%) !important;
    color: var(--myRed) !important;
}

.btn-outline-green{
    border: 1px solid var(--myDarkGreen);
    background: none;
    color: var(--myDarkGreen);
}
.btn-outline-green:hover{
    background-color: var(--myDarkGreen);
    color: var(--myWhite)
}
.btn-outline-green:active{
    background-color: color-mix(in srgb, var(--myWhite), black 10%) !important;
    color: var(--myDarkGreen) !important;
}

.btn-outline-grey{
    background: var(--myWhite);
    color: var(--myLightGrey);
}
.btn-outline-grey:hover{
    background-color: var(--myLightGrey);
    color: var(--myWhite)
}
.btn-outline-grey:active{
    background-color: color-mix(in srgb, var(--myWhite), black 10%) !important;
    color: var(--myLightGrey) !important;
}

.btn-signup{
    background-color: var(--myLightGrey);
    color: var(--myWhite);
}
.btn-signup:hover{
    background-color: var(--myWhite);
    color: var(--myLightGrey)
}
.btn-signup:active{
    background-color: color-mix(in srgb, var(--myWhite), black 10%) !important;
    color: var(--myLightGrey) !important;
}

.btn-yellow{
    background-color: var(--myYellow);
    color: var(--myDarkGrey);
}
.btn-yellow:hover{
    background-color: var(--myDarkGrey);
    color: var(--myYellow);
}
.btn-yellow:hover svg{
    fill: var(--myYellow);
}
.btn-yellow svg{
    fill: var(--myDarkGrey);
}
.btn-yellow:active{
    background-color: color-mix(in srgb, var(--myDarkGrey), black 10%) !important;
    color: var(--myYellow);
}

.btn-outline-yellow{
    border: 1px solid var(--myYellow);
    background: none;
    color: var(--myYellow);
}
.btn-outline-yellow:hover{
    background-color: var(--myYellow);
    color: var(--myDarkGrey)
}
.btn-outline-yellow:active{
    background-color: color-mix(in srgb, var(--myDarkGrey), black 10%);
    color: var(--myYellow) !important;
}

.btn-black{
    background-color: var(--myBlack);
    color: var(--myWhite);
}
.btn-black:hover{
    background-color: color-mix(in srgb, var(--myWhite), black 10%);
    color: var(--myBlack)
}
.btn-black:active{
    background-color: color-mix(in srgb, var(--myWhite), black 10%);
    color: var(--myBlack) !important;
}

.btn-lightGreen{
    background-color: var(--myBlack);
    color: var(--myLightGreen);
}
.btn-lightGreen:hover{
    background-color: var(--myLightGreen);
    color: var(--myBlack);
}
.btn-lightGreen:active{
    background-color: color-mix(in srgb, var(--myLightGreen), black 10%);
    color: var(--myBlack) !important;
}

.bg-lightGreen{
    color: var(--myLightGreen);
    background: var(--myBlack);
}

.bg-darkGrey{
    color: var(--myWhite);
    background: var(--myDarkGrey);
}

.bg-red{
    background-color: var(--myRed);
    color: var(--myWhite);
}

.btn-lightGreen2{
    color: var(--myBlack);
    background-color: var(--myLightGreen);
}
.btn-lightGreen2:hover{
    color: var(--myLightGreen);
    background-color: var(--myBlack);
}
.btn-lightGreen2:active{
    color: color-mix(in srgb, var(--myLightGreen), black 10%);
    background-color: var(--myBlack) !important;
}

.bg-lightGreen{
    background: var(--myLightGreen);
    color: var(--myBlack);
}

.color-white{
    color: var(--myWhite);
}

.color-yellow{
    color: var(--myYellow);
}

.color-darkGreen{
    color: var(--myDarkGreen);
}

.color-red{
    color: var(--myRed);
}

.color-orange{
    color: var(--myOrange);
}

.bg-Yellow{
    background: var(--myYellow);
    color: var(--myBlack);
}

.bg-darkGreen{
    background: var(--myDarkGreen);
    color: var(--myWhite);
}

.bg-LightGrey{
    background: var(--myLightGrey);
    color: var(--myWhite);
}

.color-lightGreen{
    color: var(--myLightGreen);
}

.myTitle{
    font-weight: bold;
    background: linear-gradient(to right, var(--myLightGrey), var(--myDarkGreen));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    display: inline-block;
}

.titleDate {
    font-family: "DM Sans";
    font-weight: bold;
    color: var(--myLightGrey);
}

.bg-myGreen{
    background-color: var(--myLightGreen);
}

#dates input{
    background-color: var(--myDarkGreen);
    font-weight: bold;
    border: none;
    color: var(--myWhite);
}

.commentUser{
    background: var(--myWhite);
    -webkit-box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.5);
}

.imageUser{
    background: var(--myLightGrey);
    height: 75px;
    width: 75px;
}

.event-card{
    -webkit-box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.5);
}

.disabledItem{
    pointer-events: none;
    filter: opacity(50%);
    cursor: default;
}

#dates input{
    cursor: pointer;
}

#dates input::placeholder{
    color: var(--myWhite);
}

.iconImage{
    height: 50px;
    width: 75px;
    object-fit: cover;
}

#fixed-alert-container {
    position: fixed;
    top: 10vh;
    width: 100%;
    z-index: 999;
    pointer-events: none;
}

#fixed-alert-container .alert {
    pointer-events: all;
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.my-dropzone {
    border: 2px dashed var(--myDarkGreen);
    background: none;
    padding: 2rem;
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

.dropzone-placeholder{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.dt-paging-button.page-item button{
    color: var(--myDarkGreen);
}

.dt-paging-button.page-item.active button{
    color: var(--myWhite);
    background: var(--myDarkGreen);
    border: 1px solid var(--myDarkGreen);
}

.fc-daygrid-day-number, .fc-col-header-cell-cushion{
    color: var(--myDarkGreen);
    text-decoration: none;
}

.fc-event-title-container,
.fc-event-main-frame,
.fc-event-main,
.fc-event, .fc-event-start, .fc-event-future, .fc-daygrid-event, .fc-daygrid-block-event, .fc-h-event, .fc-next-button, .fc-button, .fc-button-primary,
.fc-daygrid-event-harness, .fc-daygrid-event-harness-abs{
    background: var(--myDarkGreen) !important;
    border: var(--myDarkGreen) !important;
}