{% extends 'base.html.twig' %}

{% block title %}Edit ReservationsEvents{% endblock %}

{% block body %}
    <div class="contentMargin">
        <h1>Edit ReservationsEvents</h1>

        {{ include('admin/reservations_events/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('app_reservations_events_index') }}">back to list</a>
    </div>
{% endblock %}
