{% extends 'base.html.twig' %}

{% block title %}Edit ReservationsEvents{% endblock %}

{% block body %}
    <h1>Edit ReservationsEvents</h1>

    {{ include('admin/reservations_events/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reservations_events_index') }}">back to list</a>

    {{ include('admin/reservations_events/_delete_form.html.twig') }}
{% endblock %}
