{% extends 'base.html.twig' %}

{% block title %}New Bills{% endblock %}

{% block body %}
    <h1>Create new Bills</h1>

    {{ include('admin/bills/_form.html.twig') }}

    <a href="{{ path('app_bills_index') }}">back to list</a>
{% endblock %}
