{% extends 'base.html.twig' %}

{% block title %}Création d'un événement{% endblock %}

{% block body %}
    <div class="contentMargin d-flex flex-column justify-content-center align-items-center">
        <div class="w-75 p-4 rounded-4 d-flex flex-column bg-lightGreen mb-5">
            <h1>Création d'un événement</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="d-flex gap-2">
                <a href="{{ path('app_events_index') }}" class="btn-lightGreen">Retour à la liste</a>
                <button class="btn-yellow" type="submit">Sauvegarder</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
