{% extends 'base.html.twig' %}

{% block title %}Erreur 403{% endblock %}

{% block body %}
    <div class="contentMargin d-flex align-items-center justify-content-center">
        <div class="w-75 alert alert-danger text-center">
            <h1>Erreur 403 - Accès interdit</h1>
            <p>Vous n'avez pas la permission d'accéder à cette page.</p>
        </div>
    </div>
{% endblock %}
