{% extends 'base.html.twig' %}

{% block title %}New Posts{% endblock %}

{% block body %}
    <div class="contentMargin">
        <h1>Create new Posts</h1>

        {{ include('admin/posts/_form.html.twig') }}

        <a href="{{ path('app_posts_index') }}">back to list</a>
    </div>
{% endblock %}
